* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
}

// Navbar

nav {
  background-color: black;
  color: white;
  button {
    outline: 0 !important;
    color: rgb(255, 255, 255);
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: right;
    padding-right: 3em;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 2s;
  }
  .overlay .closebtn {
    position: absolute;
    top: -7px;
    left: 10px;
    font-size: 35px;
  }

  #logo {
    color: black;
  }
}

// contact form

#contact {
  font-family: "Comfortaa", cursive;
  background-color: black;

  .informations {
    color: rgba(255, 255, 255, 0.664);
    padding: 4em 0 3em 7em;

    img {
      width: 50%;
      height: auto;
    }
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  label {
    color: white;
  }
  input,
  select,
  textarea {
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: 0 !important;
    border: none;
    border-left: 1px solid white !important;
  }

  input[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: 0 !important;
    border: none !important;
  }
}

// Footer

footer {
  font-family: "Comfortaa", cursive;

  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  p {
    padding-right: 6em;
  }

  a {
    color: black;
    padding-top: 0.1em;
  }
}
