* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
}

nav {
  background-color: black;
}

nav button {
  outline: 0 !important;
}

nav .overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  background-color: white;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: right;
  padding-right: 3em;
  margin-top: 30px;
}

nav .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .overlay .closebtn {
  position: absolute;
  top: -7px;
  left: 10px;
  font-size: 35px;
}

nav #logo {
  color: white;
}

nav button {
  color: white;
}

.MainContainer {
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ParallaxContainer {
  position: relative;
  height: 100em;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.first-section {
  background-color: black;
  margin-top: -0.6em;
}

.first-section .text {
  color: white;
  font-family: "Comfortaa", cursive;
  margin: 4em 0 0 2em;
}

.first-section .text img {
  width: 100%;
  height: auto;
}

.first-section .text h2 {
  margin-left: -0.5em;
  margin-top: -0.7em;
  font-size: 3em;
}

.first-section .text #greece {
  margin-top: -0.5em;
}

.first-section .text h6 {
  color: #919191;
}

.first-section .text ul {
  margin: 3em 0 0 0;
}

.first-section .text ul li {
  color: rgba(146, 146, 146, 0.644);
  padding: 0 0 0 1em;
  list-style: none;
  border-left: 2px solid rgba(255, 255, 255, 0.445);
}

.first-section .text p {
  width: 80%;
  margin: 2.5em 0 0 0;
  text-align: left;
}

.first-section .text i {
  margin-top: 2em;
}

.first-section .text i a {
  text-decoration: none;
  color: #267b7b;
  padding-left: 1em;
  font-size: 32px;
}

.first-section #png-center {
  width: 70%;
  height: auto;
  margin: 2em 0 0 3em;
}

.ContentContainer {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

.presentation {
  background-color: white;
  font-family: "Comfortaa", cursive;
  margin: 4em 0 2em 2em;
}

.presentation img {
  width: 100%;
  height: auto;
}

.presentation #tablet {
  width: 90%;
  height: auto;
  margin-top: 2em;
}

footer {
  font-family: "Comfortaa", cursive;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer p {
  padding-right: 6em;
}

footer a {
  color: black;
  padding-top: 0.1em;
}

@media (min-width: 768px) {
  .MainContainer {
    height: 140em;
  }
  .ParallaxContainer {
    height: 200em;
  }
  .presentation img {
    width: 50%;
  }
  .presentation #tablet {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .first-section .text img {
    width: 70%;
    height: auto;
    margin-left: 15em;
  }
  .MainContainer {
    height: 200em;
  }
  .ParallaxContainer {
    height: 200em;
  }
  .presentation img {
    width: 50%;
  }
  .presentation #tablet {
    width: 50%;
  }
}
/*# sourceMappingURL=greece.css.map */