* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
}

// Navbar

nav {
  background-color: black;

  button {
    outline: 0 !important;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: right;
    padding-right: 3em;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 2s;
  }
  .overlay .closebtn {
    position: absolute;
    top: -7px;
    left: 10px;
    font-size: 35px;
  }

  #logo {
    color: rgb(255, 255, 255);
  }

  button {
    color: white;
  }
}

// text section
.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100em;
  overflow-x: hidden;
  overflow-y: scroll;
}
.ParallaxContainer {
  position: relative;
  height: 100em;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.first-section {
  background-color: black;
  margin-top: -0.6em;
  .text {
    color: white;
    font-family: "Comfortaa", cursive;
    margin: 4em 0 0 2em;

    img {
      width: 100%;
      height: auto;
    }

    h2 {
      margin-left: -0.5em;
      margin-top: -0.7em;
      font-size: 3em;
    }

    #greece {
      margin-top: -0.5em;
    }

    h6 {
      color: rgb(145, 145, 145);
    }

    ul {
      margin: 3em 0 0 0;
      li {
        color: rgba(146, 146, 146, 0.644);
        padding: 0 0 0 1em;
        list-style: none;
        border-left: 2px solid rgba(255, 255, 255, 0.445);
      }
    }
    p {
      width: 80%;
      margin: 2.5em 0 0 0;
      text-align: left;
    }

    i {
      margin-top: 2em;
      a {
        text-decoration: none;
        color: #267b7b;
        padding-left: 1em;
        font-size: 32px;
      }
    }
  }

  #png-center {
    width: 70%;
    height: auto;
    margin: 2em 0 0 3em;
  }
}

// mobile section
.ContentContainer {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

.presentation {
  background-color: white;
  font-family: "Comfortaa", cursive;
  margin: 4em 0 2em 2em;
  img {
    width: 100%;
    height: auto;
  }
  #tablet {
    width: 90%;
    height: auto;
    margin-top: 2em;
  }
}

// footer

footer {
  font-family: "Comfortaa", cursive;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer p {
  padding-right: 6em;
}

footer a {
  color: black;
  padding-top: 0.1em;
}

// MEdia QUeries

@media (min-width: 768px) {
  .MainContainer {
    height: 140em;
  }
  .ParallaxContainer {
    height: 200em;
  }

  .presentation {
    img {
      width: 50%;
    }
    #tablet {
      width: 60%;
    }
  }
}

@media (min-width: 1024px) {
  .first-section {
    .text {
      img {
        width: 70%;
        height: auto;
        margin-left: 15em;
      }
    }
  }
  .MainContainer {
    height: 200em;
  }
  .ParallaxContainer {
    height: 200em;
  }

  .presentation {
    img {
      width: 50%;
    }
    #tablet {
      width: 50%;
    }
  }
}
